@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" );

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  /* align-items: center; */
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.app-cont, #root{
  /* display: flex; */
  /* align-items: center; */
  width: 100%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin .form-floating:nth-first-child(1) input {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin .form-floating:nth-last-child(1) input{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.card {
  margin-bottom: 25px;
}
.card img {
  height: 450px;
  object-fit: cover;
}
